body{
    background-image: url(../images/family.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    font-size: 30%;
    padding: 10%;
}

.container-fluid{

    
}
#title{
}

