body{
    background-image: url(../images/fam.jpg);
    background-position-y: 3rem;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

hr.dotted {
    border-top: 7px dotted #bbb;
    margin: auto 40% auto 40%;
}

.container-fluid{
    margin: 2% auto 8% auto;
}
.white-section{
    padding-top: 5%;
    text-align: center;
}

.heading{
    margin:auto 25% auto 4%;
    padding-top: 10%;
    padding-bottom: 7%;
    font-family: 'Dongle', sans-serif;
    font-size: 6rem;
    line-height: 4.5rem;
}
.button{
    margin: auto 1rem auto 2rem;
}


.save-img{
    position: absolute;
    padding-top: 67px;
    width: 20%;
    float: left;
    left: 150px;
}
.brief{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    position: relative;
    right: 6%;
    margin-left: 50%;
    padding: 5%;
    
}
.small-icons{
    padding-right: 1em;
    color:aliceblue;
}

/* Footer Section */

.container-footer{
    padding: 1%;
}
.social-icon{
    padding: 1%;
}
.last{
    line-height: 9px;
    color: silver;
  }
  .white-section{
    padding-bottom: 2%;
}
  




.navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
    text
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Crete Round', serif;
  }

  .heading-about{
      text-align: center;
  }
  .heading-section{
      padding-top: 9%;
  }
  