body{
    background-image: url(../images/banking.jpg);
    background-position-y: 3rem;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

hr.dotted {
    border-top: 7px dotted #bbb;
    margin: auto 40% auto 40%;
}

.container-fluid{
    margin: 2% auto 8% auto;
}
.white-section{
    padding-top: 5%;
    padding-bottom: 4%;
    text-align: center;
}

.heading{
    margin:auto 25% auto 4%;
    padding-top: 10%;
    padding-bottom: 7%;
    font-family: 'Dongle', sans-serif;
    font-size: 6rem;
    line-height: 4.5rem;
}
.button{
    margin: auto 1rem auto 1rem;
}


.save-img{
    position: absolute;
    padding-top: 67px;
    width: 30%;
    float: left;
    left: 150px;
}
.brief{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    position: relative;
    right: 6%;
    margin-left: 50%;
    padding: 5%;
    
}

.small-icons{
    padding-right: 1em;
    color:aliceblue;   
}
.small-brand-icon{
    padding-left: 5%;
    color:aliceblue;
    padding: 1rem;
}



/* Navbar */

.navbar {
    padding: 0 0 4.5rem;
    margin: auto;
  }
  .navbar-custom{
      background-color:#142F43;
  }
  
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .nav-item {
    padding: 0 18px;
    color: #ffffff;
  }
  .hover:hover{
      color: #b8ccdf;
  }
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Crete Round', serif;
    color: #ffffff;
  }
  .white-section{
    padding-bottom: 2%;
}


  
/* Footer Section */
.footer-section{
    margin-top: 3%;
    text-align: center;
    padding-bottom: 1%;
    background-color: #548CA8;
}
.container-footer{
    padding: 1%;
}
.social-icon{
    padding: 1%;
}
.last{
    line-height: 9px;
    color: silver;
  }





  .heading-about{
      text-align: center;
  }
  .heading-section{
      padding-top: 9%;
  }
  
  #About-us{
      padding-bottom: 5%;
  }